<!DOCTYPE HTML>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Arxivity</title>

<!-- MathJax -->
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML">
</script>

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<!-- Favicon -->
<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />

<!-- JS -->
<script src="{{ url_for('static', filename='jquery-1.8.3.min.js') }}"></script>
<script src="{{ url_for('static', filename='d3.min.js') }}"></script>
<script src="{{ url_for('static', filename='as-common.js') }}"></script>

<!-- Google Analytics JS -->

{% block header_content %}{% endblock %}


</head>

<body>

<div id ="titdiv">

  <!-- User account information on top right -->
  <div id="userinfo">
    {% if not g.user %}
    <form action="{{ url_for('login') }}" method="post">
      User:
      <input type="text" name="username" class="input-no-border">
      Pass:
      <input type="password" name="password" class="input-no-border">
      <input type="submit" value="Login or Create" class="btn-fancy">
    </form>
    {% else %}
    <a href="{{ url_for('account') }}">{{ g.user.username }}</a>
    <a href="{{ url_for('logout') }}">log out</a>
    {% endif %}
  </div>

  <!-- Site information/banner on top left -->
	<a href="/">
	<div id="tittxt">
		<h1>Arxivity</h1>
		Serving the last {{ totpapers }} papers from cs.[CV|CL|LG|AI|NE]/stat.ML
	</div>
	</a>
</div>

<div id="flashesdiv">
{% with flashes = get_flashed_messages() %}
    {% if flashes %}
      <ul class="flashes">
      {% for message in flashes %}
        <li>{{ message }}
      {% endfor %}
      </ul>
    {% endif %}
{% endwith %}
</div>

{% if render_format == "recent" and g.user.username is not defined %}
<div id="banner">
  <div style="float:right;cursor:pointer;" id="xbanner">X</div>
  New to arxivity? Check out the <a href="https://youtu.be/S2GY3gh6qC8" target="_blank">introduction video</a>. 
  <div id="sbox">
     <form action="{{ search_url }}" method="get">
		<input name="q" type="text" id="qfield">
	  </form>
	  <div id="search_hint"></div>
	  <!-- RSS icon from https://upload.wikimedia.org/wikipedia/en/thumb/4/43/Feed-icon.svg/128px-Feed-icon.svg.png-->
	  <a href="/recent_rss.xml">
		<img src="static/rss.png" class="rss-icon" title="Click to subscribe to RSS feed." id="rss" style="width: 11px;">
	  </a>
  </div>
</div>
{% endif %}



{% if show_prompt == "yes" %}
<div id="prompt" style="background-color:#f6ff7a; padding:10px; width:980px; margin-left:auto; margin-right:auto; font-size:14px;">
Hey there {{ g.user.username }}, sorry to interrupt. Arxivity costs a non-negligible amount of money to host. 
If you love the site, please consider pitching in:
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="display:inline-block;">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="DRW9PQ2J3U3RJ">
  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" style="display:inline-block;height:14px;">
  <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
  </form>
To nuke this message away for a long time click <span id="goaway" style="text-decoration: underline;cursor: pointer;">here</span>.
</div>
{% endif %}

{% block content %}{% endblock %}

</div>

<br><br><br><br><br><br>
</body>

</html>
